---
remote:
  host: firestore.firenet.sum7.eu
  path: /tank/genofire/backup/test
time:
  type: full
modules:
  directories:
  - /tmp/a
  pgsqlreplica:
    host: localhost
    user: postgres
  notFoundDummy: nil
